<footer class="site-footer h-card">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-left">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>
    <div class="footer-right">
      <p>{{- site.description | escape -}}</p>
    </div>
     
    </div>
  </div>
</footer>
