<nav role="navigation" class="blog-masthead">
  <div class="container">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    {%- if titles_size > 0 -%}
      <div  class="blog-nav">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="blog-nav-item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</nav>

<script>
  function setActive() {
    aObj = document.getElementsByTagName('nav')[0].getElementsByTagName('a');
    for(i=0;i<aObj.length;i++) { 
      if(document.location.href.indexOf(aObj[i].href)>=0) {
        aObj[i].className += ' active';
      }
    }
  }
  
  window.onload = setActive;
</script>