body, html { height: 100%; }
body {
    margin:0;
    display: grid;
    grid-template-columns: auto 970px auto;
    grid-template-rows: 50px auto 100px;
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

header {
  grid-area: header;
}

main {
  grid-area: main;

  display: grid;
  grid-template-columns: auto 245px;
  grid-template-areas:
        "home sidebar";
}

.home {
  background: #fff;
  grid-area: home;
}

.sidebar {
  background: #1c9090;
  color: #fff;
  padding: 1em;

  grid-area: sidebar;
}

footer {
  grid-area: footer;
  background: lightgray;
}
