body, html { height: 100%; }
body {
    margin:0;
    display: grid;
    grid-template-columns: auto 970px auto;
    grid-template-rows: 40px 180px auto 100px;
    grid-template-areas:
        "nav nav nav"
        ". header ."
        ". main ."
        "footer footer footer";
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;

  display: grid;
  grid-template-columns: auto 245px;
  grid-template-areas:
        "header-title header-side";
}

.header-title {
  grid-area: header-title;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-side {
  grid-area: header-side;
  margin-top: 70px;
  margin-bottom: 0;
}

main {
  grid-area: main;

  display: grid;
  grid-template-columns: auto 245px;
  grid-template-areas:
        "home sidebar";
}

.home {
  grid-area: home;
}

.sidebar {
  grid-area: sidebar;
  padding: 1em;
}

footer {
  grid-area: footer;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 485px 485px;
  grid-template-areas:
        "footer-left footer-right";
}
